.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  background-repeat: repeat-x;
  backface-visibility: visible;
  background-color : rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  gap : 10px;
}

.hdr {
  grid-column: 1/-1;
  display : flex;
  gap : 1rem;
}


.image_name {
  font-size: 1.2rem;
  border-radius: 0.3rem;
  text-emphasis-position:initial;
  background-color:whitesmoke;
}

.image_desc {
  font-size: 1rem;
  border-radius: 0.3rem;
  text-emphasis-position:initial;
  background-color: whitesmoke;
}

.file_cls {
  font-size: 1rem;
  border-radius: 0.3rem;
  text-emphasis-position:initial;
  background-color: whitesmoke;
}



.upload_img {
  font-size: 1.2rem;
  border-radius: 0.3rem;
  background-color: rgb(5, 165, 72);
  color-adjust:white;
  border-color:rgb(0, 0, 0);
}

.g_img{
  filter: invert(76%) sepia(30%) saturate(3461%) hue-rotate(321deg) brightness(98%) contrast(91%);
}

.u_img {
  display : grid;
  /* width : 100%; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1/-1;
  gap : 50px;
}


.sign_out {
  grid-column : 1/-1;
}

.imag {
  height : 100px;
  width  : 100px;
}

.t_img {
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.font{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style:initial;
  font-size: 40px;
  font-display:inherit;
  font-stretch: wider;
  padding-bottom: 0rem;
  padding: auto;
}
